// Firestore security rules
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /questions/{id} {
      allow read: if true;
      allow write: if false;
    }

    match /matches/{id} {
      allow read: if request.auth != null; // anon dahil
      allow write: if false;
    }

    match /invites/{code} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    match /users/{uid} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    match /system/{docId} {
      // Allow read for authenticated users (anon auth included)
      allow read: if request.auth != null;
      // Allow write only from backend (admin SDK)
      allow write: if false;
    }

    match /leagues/{bucketId} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}
